<html lang="en">
<head>
  <title>Online Blood Bank</title>
  {%load static%}	
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Online Blood Bank</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if email %}
        <li class="active"><a href="{% url 'profile' email password %}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
        <li class="active"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Log-out</a></li>
      {% else %}
        <li class="active"><a href="{% url 'reg' %}"><span class="glyphicon glyphicon-user"></span> Donor Registration</a></li>
        <li class="active"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Donor Login</a></li>
      {% endif %}
    </ul>
    <br><br>
  </div>

</nav>
  
<div class="container">
  	{% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
	<br><br>
</div>
<footer>
	<br>
	<h5 style="color: white; text-align: center;">Copyright &copy; S.R.Khaled<h5>
	<br>
</footer>
</body>
</html>
